.ball {
    position: relative;
}

.ball .ball-1 {
    width: 40px;
    height: 40px;
    background: aquamarine;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 40px;
}

.ball .ball-2 {
    width: 70px;
    height: 70px;
    background: #def4ff;
    border-radius: 50%;
    position: absolute;
    left: 200px;
    top: 10px;
}
